.cartPage {
  padding: 2rem;
  font-family: sans-serif;
  color: #333;
}

.cartContent {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productsSection {
  flex: 2;
  min-width: 300px;
}

.productCard {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.productCard img {
  width: 120px;
  height: auto;
  object-fit: contain;
  border-radius: 6px;
}

.summarySection {
  flex: 1;
  min-width: 280px;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 10px;
  background: #f9f9f9;
}

.pix {
  background: #d4ffe4;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 6px;
  color: #006400;
  font-weight: bold;
}

.continueBtn {
  width: 100%;
  padding: 1rem;
  background: #f57224;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.backBtn {
  width: 100%;
  padding: 1rem;
  background: white;
  color: #f57224;
  border: 2px solid #f57224;
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
}
